body {
  font-family: Arial, sans-serif;
}

header {
  background: url("../img/fundo.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  position: relative;
}

header .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-toggler {
  border: none;
}

header .container {
  z-index: 2;
}

#textoPrinc {
  text-shadow: 10px 2px 5px rgba(0, 0, 0, 0.7);
}

#subTextoPrinc {
  text-shadow: 4px 1px 2px rgba(0, 0, 0, 0.7);
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

#sobre img {
  border: 3px solid #fff;
}

#projetos .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

#projetos .card-img-top {
  object-fit: cover;
  height: 200px;
}

#projetos .card-body {
  flex: 1;
}

#projetos .card-title,
#projetos .card-text {
  margin-bottom: 1rem;
}

#projetos .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#contato {
  padding: 60px 0;
  background: linear-gradient(120deg, #f0f9ff, #c2e9fb);
}

#contato h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
  font-weight: 700;
}

#contato .form-control {
  border-radius: 25px;
  padding: 15px;
  border: 2px solid #ddd;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

#contato .form-control:focus {
  border-color: #28a745;
  box-shadow: 0 3px 12px rgba(40, 167, 69, 0.2);
}

#contato button {
  background-color: #28a745;
  color: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#contato button:hover {
  background-color: #218838;
  box-shadow: 0 4px 15px rgba(33, 136, 56, 0.3);
}

/* Layout Responsivo */
@media (max-width: 767px) {
  header {
    height: 80vh;
    text-align: center;
  }

  #textoPrinc {
    font-size: 2.5rem;
  }

  #subTextoPrinc {
    font-size: 1.25rem;
  }

  #sobre img {
    width: 100%;
    height: auto;
  }

  #projetos .card-img-top {
    height: 150px;
  }

  #contato h2 {
    font-size: 2rem;
  }

  #contato button {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    height: 90vh;
  }

  #textoPrinc {
    font-size: 3rem;
  }

  #subTextoPrinc {
    font-size: 1.5rem;
  }

  #projetos .card-img-top {
    height: 180px;
  }
}
